{
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"svelteIndentScriptAndStyle": false,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
